.container {
  grid-column: 5/6;
  grid-row: 3/4;
  border-right: 1px solid #1e2d3d;
  color: #607b96;
  padding: 1.1rem 2.375rem;
  line-height: 1.625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  /* width: 1.625rem; */
  padding: 0.234375rem;
  padding-top: 0.30625rem;
  border-left: 1px solid #1e2d3d;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  width: 1.125rem;
  background: #607b96;
  opacity: 0;
}
