@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: #050810;
}

.experience-card {
    transform: rotateY(-30deg);
    transform-origin: center;
}

.experience-card-right {
    transform: rotateY(30deg);
    transform-origin: center;
}

.experience-card:hover,
.experience-card-right:hover {
    transform: none;
    transform-origin: none;
}

.project-item-left {
    transition: 0.5s all ease-in-out;
    scale: 0.8;
    transform: rotateY(25deg) rotateX(10deg);
    filter: blur(0.2px);
}

.project-item-right {
    transition: 0.5s all ease-in-out;
    scale: 0.8;
    transform: rotateY(-25deg) rotateX(10deg);
}

.project-item-left:hover {
    scale: 1;
    transform: rotateY(-15deg) rotateX(10deg) translateY(-50px);
}

.project-item-right:hover {
    scale: 1;
    transform: rotateY(15deg) rotateX(10deg) translateY(-50px);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
